<div class="header clearfix">

    <a href="{% url 'index' %}" class="logo "></a>
    <ul class="menu">
        <li><a href="{% url 'index' %}" {% if "/" == request.path %}class='active' {% endif %}>домой</a></li>
        <li><a href="{% url 'products:index' %} " {% if '/products/' in request.path %} class='active' {% endif %}>продукты</a></li>
        <li><a href="{% url 'contacts' %}" {% if "/contact/" in request.path %}class='active' {% endif %}>контакты</a>
        </li>
        {% if user.is_superuser %}
        <li>
            <a href="{% url 'admin_staff:users' %}">Админка </a>
        </li>
        {% endif %}
              {% if user.is_authenticated %}
        <li>
            <div class="dropdown">
                <a class="dropdown-toggle" href="" data-toggle="dropdown">
                    {{ user.first_name|default:'Пользователь' }}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{% url 'auth:edit' %}">
                            профиль
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'ordersapp:orders_list' %}">
                            заказы
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        {% endif %}
        <li>
            {% if user.is_authenticated %}
            <form action="{% url 'auth:logout' %}" method="post" >
                {% csrf_token %}
             <input type="submit" value="Выйти" />
            </form>
            {% else %}
            <a href="{% url 'auth:login' %}">войти</a>
            {% endif %}

        </li>
    </ul>
        <a href="#" class="search"></a>
    <span><a href="{% url 'basket:view' %}" class="basket">
            {% if basket %}
            {{ basket.0.total_cost|floatformat:0 }} руб
            ({{ basket.0.total_quantity }} шт)
            {% endif %}
        </a>
    </span>


</div>