{% extends 'base.html' %}
{% load static %}
{% load my_tags %}

{% block content %}

<div class="hero-white">
    {% include 'includes/inc_main_menu.html' %}
</div>

<div class="details">
       {% include 'includes/inc_category_menu.html' %}


    <div class="details-products">
        <div class="details-slider">
            <div class="slider-product">
                <img src="/media/{{ hot_product.img|media_folder_products }}" class="bbox">
            </div>
            <div class="slider-control">
                <div class="block">
                    <a href="#"><img src="/media/{{ hot_product.img|media_folder_products}}" width="50" height="50" alt=""></a>
                </div>
                <div class="block">
                    <a href="#"><img src="/media/{{ hot_product.img|media_folder_products }}" width="50" height="50" alt=""></a>
                </div>
                <div class="block">
                    <a href="#"><img src="/media/{{ hot_product.img|media_folder_products }}" width="50" height="50" alt=""></a>
                </div>
            </div>
        </div>

        <div class="description">
            <h3 class="big-bold">{{ hot_product.name }}</h3>
            <h3 class="red">горячее предложение</h3>
            <p class="price">{{ hot_product.price }} <span>руб</span></p>
            <a href="{% url 'basket:add' hot_product.pk %}" class="red-button">
                заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
            <div class="description-text">
                {{ hot_product.description }}
            </div>
        </div>
    </div>
</div>

{% if category != None %}
<div class="products_list">
    <div class="title clearfix">
        <h2>
            Категория:"{{ category.name|title }}"
        </h2>
    </div>
</div>
{% endif %}
{% include 'includes/inc_featured.html' %}
    <div class="related">
        <div class="title clearfix">
            <h2>Похожие продукты</h2>
            <a class="explore" href="#">показать все <img src="img/arrow.png" alt=""></a>
        </div>
        <div class="related-products clearfix">
            {% for prod in same_products %}
            <div class="block">
                <a href="#"><img src="/media/{{prod.img|media_folder_products}}" alt="">
                    <div class="text">
                        <img src="/static/geekshop/img/icon-hover.png" alt="img">
                        <h4>{{prod.name}}</h4>
                        <p>{{prod.description}} </p>
                    </div>
                </a>
            </div>
            {% endfor %}

        </div>
    </div>
</div>


{% endblock %}